{
  "presets": ["stage-2"],
  "plugins": [
    "transform-class-properties",
    "transform-object-rest-spread",
    [
      "transform-react-jsx",
      {
        "pragma": "Gooact.createElement"
      }
    ]
  ]
}
